<!-- <link rel="stylesheet" href="../stylesheets/style.css"> -->
	<link rel="stylesheet" href="../stylesheets/addGoods.css">

<div class="container"> 
<div class= "head">
<p style="float:left;margin-right: 10px"> <a href="#"> ECSHOP 管理中心 </a> - 添加新商品</p>
<img src="../images/jnsy.png"/>
<a href="#" class="goodslist">商品列表</a>
</div>
<div class="tab-div">
<div id="tabbar-div">
      <p>
        <span class="tab-front" id="general-tab">通用信息</span><span class="tab-back" id="detail-tab">详细描述</span><span class="tab-back" id="mix-tab">其他信息</span><span class="tab-back" id="properties-tab">商品属性</span><span class="tab-back" id="gallery-tab">商品相册</span><span class="tab-back" id="linkgoods-tab">关联商品</span><span class="tab-back" id="groupgoods-tab">配件</span><span class="tab-back" id="article-tab">关联文章</span>
      </p>
    </div>
    <div id="tabbody-div">
      <form enctype="multipart/form-data" action="cart4form" method="post">
        <table width="90%" id="general-table" align="center" class="goods_info" style="display: table;">
          <tbody><tr>
            <td class="label">商品名称：</td>
            <td><input type="text" name="goods_name" class="goods_name" size="30"/>
              <select>
              <option value="">字体样式</option>
              <option value="strong">加粗</option><option value="em">斜体</option><option value="u">下划线</option><option value="strike">删除线</option>     </select> </td></tr>
              <tr>
            <td class="label">
            <a href="#" title="点击此处查看提示信息" class="notice"><img src="../images/notice.gif" width="16" height="16" border="0" alt="点击此处查看提示信息"></a> 商品货号： </td>
            <td><input type="text" name="goods_sn" value="" size="20" ><span id="goods_sn_notice"></span><br>
            <span class="notice-span" style="display:block" id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span></td>
          </tr>
          <tr>
            <td class="label">
             商品分类： </td>
            <td><select name="goods_category">
              <option value="">请选择...</option>
              <option value="1">钻石</option><option value="2">上衣</option><option value="3">裤子</option><option value="4">鞋子</option>   </select> </td>
          </tr>
          <td class="label">
             商品品牌： </td>
            <td><select name="goods_brand">
              <option value="">请选择...</option>
              <option value="1">阿迪</option><option value="2">耐克</option><option value="3">匡威</option><option value="4">newbalance</option>   </select> </td>
          </tr>
          <tr>
            <td class="label">本店售价：</td>
            <td><input type="text" name="shop_price"  class="shop_price" value="0" size="20" >
            </td>                 
             </tr>
          <tr>
            <td class="label">虚拟销量：</td>
            <td><input type="text" name="virtual_sales"  class="virtual_sales" value="0" size="20">
            </td>
          </tr>
          <tr>
            <td class="label">上传商品图片：</td>
            <td>
              <input type="file" id="goods_img" name="goods_img" size="35">
                              <img src="../images/no.gif" class="clear_img">
                            <br><input type="text" size="40" value="商品图片外部URL" style="color: rgb(0, 0, 0);" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url">
            </td>
          </tr>
          <tr id="auto_thumb_1">
            <td class="label"> 上传商品缩略图：</td>
            <td id="auto_thumb_3">
              <input type="file"   name="goods_thumb" size="35" disabled="">
                              <img src="images/no.gif">
                            <br><input type="text" size="40" value="商品缩略图外部URL" style="color:#aaa;" onfocus="if (this.value == '商品缩略图外部URL'){this.value='http://';this.style.color='#000';}" name="goods_thumb_url" disabled="">
                            <br><label for="auto_thumb"><input type="checkbox" id="auto_thumb" name="auto_thumb" checked="true" value="1" ">自动生成商品缩略图</label>            </td>
          </tr>
          </tbody>
          </table>
          <div class="button-div">
          
          <input type="submit" value=" 确定 " class="button">
          <input type="reset" value=" 重置 " class="button">
        </div>

      </form>
      </div>


</div>


</div>

<script>
   $(".notice").click(function(){
     if($(".notice-span").css("display")=="none"){
     	$(".notice-span").css("display","block");
     }else{
     	$(".notice-span").css("display","none");
     }


   })
   $("#auto_thumb").click(function(){
        if(!$(this).prop("checked")){
           // $("#load-img").prop("disabled",false);
            $(this).parent().siblings("input").prop("disabled",false);
           // console.log($(this).siblings("input"));
           // console.log(1);
        }else{
        	 $(this).parent().siblings("input").prop("disabled",true);
        	  // $("#load-img").prop("disabled",true);
        	 //console.log(2);
        }

   })

   $("#goods_img").change(function(){
     console.log(this.files[0]);
     file = this.files[0];
     var fileType = file.type.split("/")[0];
    if(fileType != "image") {  
                    alert("请上传图片")  
                    $("#goods_img").val("");
                    return;  
                }  
    var fileSize = Math.round(file.size / 1024 / 1024);  
                if(fileSize >= 3) {  
                    alert("请上传小于少于3M的图片"); 
                    $("#goods_img").val(""); 
                    return;  
                }  


   })

   $(".clear_img").click(function(){
      $("#goods_img").val("");

   })
   $(".shop_price").blur(function(){

       var value = parseInt($(this).val());
       //console.log(value);
       if(isNaN(value)||value<=0){
       	 alert("请输入大于0的数字");
       	 $(this).val("");
       }

   })

   $(".virtual_sales").blur(function(){

       var value = parseInt($(this).val());
      // console.log(value);
       if(isNaN(value)||value<=0||value>99){
       	 alert("请输入0-99之间的数字");
       	 $(this).val("");
       }

   })

   $(".goods_name").blur(function(){
     if(!$(this).val()){
       alert("商品名不能为空");
       

     }

   })



</script>