<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/addGoods.css">

<div class="container"> 
<div class= "head">
<p style="float:left;margin-right: 10px"> <a href="#"> ECSHOP 管理中心 </a> - 添加新商品</p>
<img src="../images/jnsy.png"/>
<a href="#" class="goodslist">商品列表</a>
</div>
<div class="tab-div">
</div>


</div>