<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/admin.css">
    <script src ="../js/jquery-1.11.3.js"></script>
</head>
<body>
<div class="header">
  <div class="logo">
  <img class="log" src="../images/topLogo.png" alt="">
  <div class="submenu-div">
  <ul>
   <li><a href="#" style="width:102px;color:yellow;font-weight:600"><img src="../images/topmune_09.png" alt=""><p>更多模板堂产品</p></a></li>
   <li><a href="#"><img src="../images/topmune_01.png"><p>开店向导</p></a></li>
   <li><a href="#"><img src="../images/topmune_02.png"><p>记事本</p></a></li>
   <li><a href="#"><img src="../images/topmune_03.png"><p>刷新</p></a></li>
   <li><a href="#"><img src="../images/topmune_04.png"><p>个人设置</p></a></li>
    <li><a href="#"><img src="../images/topmune_05.png"><p>管理员留言</p></a></li>
    <li><a href="#"><img src="../images/topmune_06.png"><p>查看网店</p></a></li>
    <li><a href="#"><img src="../images/topmune_007.png"><p>帮助</p></a></li>
    <li><a href="#"><img src="../images/topmune_07.png"><p>关于ECSHOP</p></a></li>
    <li><a href="#"><img src="../images/qingchu.png"><p>清除缓存</p></a></li>
    <li><a href="#"><img src="../images/topmune_08.png"><p>退出</p></a></li>
    
  </ul>
  </div>
  </div>
  <div class="bottom_menu clearfix ">
  <ul>
   <li style="margin-left:10px"><a href=""><img src="../images/index-11_07.png"><span>起始页</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_41.png"><span>设置导航栏</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>商品管理</span><span class="num">30</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>订单管理</span><span class="num">0</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>广告管理</span><span class="num">0</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>用户评论</span><span class="num">0</span></a><span class="muneFG"></span></li>
   <li><a href="#">用户评论</a></li>
   <li><a href="#">商品列表</a></li>
   <li><a href="#">会员列表</a></li>
   <li><a href="#">商店设置</a></li>
   <li><a href="#">移动版</a></li>
   <li><a href="#">服务市场</a></li>
  </ul>
  </div>
</div>

<div class="main">
<div class="left">
 <div class = "tabbar-div">
  <p>导航菜单</p>
 </div>
 <div>
  <ul class="menu-ul">
  <li class="lis icon1">  商品管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 添加新产品	</li>
          <li class="menu-item" > 商品分类	</li>
          <li class="menu-item" > 用户评论	</li>
          <li class="menu-item" > 商品品牌	</li>
          <li class="menu-item" > 商品类型	</li>
          <li class="menu-item" > 商品回收站	</li>



     </ul>

    </li>
     <li class="lis icon2">  促销管理 
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
     <li class="lis icon3">  订单管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
     <li class="lis icon4">  广告管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
     <li class="lis icon5">  报表统计 
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
     <li class="lis icon6">  文章管理 
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
     <li class="lis icon7">  会员管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
     <li class="lis icon8">  权限管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
     <li class="lis icon9">  系统管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
    <li class="lis icon10">  模板管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
    <li class="lis icon11">  数据库管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
    <li class="lis icon12">  短信管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
    <li class="lis icon13">  推荐管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
    <li class="lis icon14">  邮件群发管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
    <li class="lis icon15">  移动版管理  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
    <li class="lis icon15">  模板堂知识库  
     <ul> <li class="menu-item" > 商品列表	</li>	
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>
          <li class="menu-item" > 商品列表	</li>



     </ul>

    </li>
  </ul>
 </div>

</div>
<div class="right">
   <% include addGoods%>
  </div>
</div>

</div>


	
</body>
</html>
<script>
      $(".lis").click(function(){
      	 var index = $(this).index()==15?$(this).index():$(this).index()+1;
        if($(this).find("ul").css("display")=="none"){
        	$(this).removeClass("icon"+index).addClass("icon"+index+"_1");
        	$(this).find("ul").css("display","block");
        }else{
        	$(this).removeClass("icon"+index+"_1").addClass("icon"+index);
            $(this).find("ul").css("display","none");
        }

      })
</script>