<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/admin.css">
</head>
<body>
<div class="header">
  <div class="logo">
  <img class="log" src="../images/topLogo.png" alt="">
  <div class="submenu-div">
  <ul>
   <li><a href="#" style="width:102px;color:yellow;font-weight:600"><img src="../images/topmune_09.png" alt=""><p>更多模板堂产品</p></a></li>
   <li><a href="#"><img src="../images/topmune_01.png"><p>开店向导</p></a></li>
   <li><a href="#"><img src="../images/topmune_02.png"><p>记事本</p></a></li>
   <li><a href="#"><img src="../images/topmune_03.png"><p>刷新</p></a></li>
   <li><a href="#"><img src="../images/topmune_04.png"><p>个人设置</p></a></li>
    <li><a href="#"><img src="../images/topmune_05.png"><p>管理员留言</p></a></li>
    <li><a href="#"><img src="../images/topmune_06.png"><p>查看网店</p></a></li>
    <li><a href="#"><img src="../images/topmune_007.png"><p>帮助</p></a></li>
    <li><a href="#"><img src="../images/topmune_07.png"><p>关于ECSHOP</p></a></li>
    <li><a href="#"><img src="../images/qingchu.png"><p>清除缓存</p></a></li>
    <li><a href="#"><img src="../images/topmune_08.png"><p>退出</p></a></li>
    
  </ul>
  </div>
  </div>
  <div class="bottom_menu clearfix ">
  <ul>
   <li style="margin-left:10px"><a href=""><img src="../images/index-11_07.png"><span>起始页</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_41.png"><span>设置导航栏</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>商品管理</span><span class="num">30</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>订单管理</span><span class="num">0</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>广告管理</span><span class="num">0</span></a><span class="muneFG"></span></li>
   <li><a href="#"><img src = "../images/index-11_09.png"><span>用户评论</span><span class="num">0</span></a><span class="muneFG"></span></li>
   <li><a href="#">用户评论</a></li>
   <li><a href="#">商品列表</a></li>
   <li><a href="#">会员列表</a></li>
   <li><a href="#">商店设置</a></li>
   <li><a href="#">移动版</a></li>
   <li><a href="#">服务市场</a></li>
  </ul>
  </div>
</div>

<div class="main">
<div class="left">
 <div class = "tabbar-div">
  <p>导航菜单</p>
 </div>
 <div>
  <ul class="menu-ul">
  <li
  </ul>
 </div>

</div>
<div class="right">
    <div class="right_content">右边的内容</div>
</div>

</div>


	
</body>
</html>